
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzLekjXNsjD79OpnJd8sryX5tO3T3J4GA"></script>

<div data-map='{"lat":54.9715504,"lng":-1.609043}' style="height:{{fallback height "400"}}px;">
	<div aria-hidden="true" data-marker='{"lat":54.9715504,"lng":-1.609043, "title": "Newcastle"}'>
		<dl>
			<dt>Newcastle</dt>
			<dd>
				55 Degrees North
				Pilgrim Street
				Newcastle Upon Tyne
				NE1 6BF
			</dd>
			<dd>+44 (0)207 504 6000</dd>
		</dl>
	</div>
	<div aria-hidden="true" data-marker='{"lat":51.522378,"lng":-0.1130277, "title": "London"}'>
		<dl>
			<dt>London</dt>
			<dd>
				8-14 Vine Hill
				Clerkenwell
				London
				EC1R 5DX
			</dd>
			<dd>+44 (0)191 241 7000</dd>
		</dl>
	</div>
</div>
